
<h1><%= "Your Friends" %></h1>

<% current_user.friends.each do |friend| %>
  <li>
    <%= link_to "#{request.sender.first_name.capitalize} #{request.sender.last_name.capitalize}", user_path(friend.id) %>
  </li>
<% end %>